<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293166396652-ihcj9p72rid483dtk3qadsf2eafmdsto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293166396652-ihcj9p72rid483dtk3qadsf2eafmdsto</string>
	<key>API_KEY</key>
	<string>AIzaSyCISCp3TmlQFsD4NpiK_JPTM6Fs0JNGJJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>293166396652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatfeed</string>
	<key>PROJECT_ID</key>
	<string>chatfeed-9ed0d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfeed-9ed0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293166396652:ios:6d1b30670bf409131ae1c9</string>
</dict>
</plist>